@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background-color: #292929;
  color: #fff;
}

/* ul {
  @apply list-disc list-inside;
} */

ul li {
  margin-bottom: 0.5rem;
}

ul li:last-child {
  margin-bottom: 0;
}
